#filters {
    position: fixed; 
    overflow-y: auto;
    right: 0px;
    top: 0px;
    height: 100%;
    width: 15%;
    background-color: #FFB7C5;
}

#filters g {
    display: flex;
    flex-flow: column;
    gap: 10px;
}

#filters text {
    position: relative;
    font-weight: bold;
    font-size: 20px;
    margin-left: 3px;
}

#legend-section {
    position: fixed;
    display: flex;
    flex-flow: row;
    width: 85%;
    height: 50px;
    top: 0px;
    left: 0;
    background-color: #FFB7C5;
    z-index: 999;
}

#legend-label {
    position: relative;
    top: 5px;
    left: 5px;
    width: 12%;
    height: 100%;
    font-size: 33px;
}

#legend {
    position: relative;
    left: 0;
    top: 0;
    width: 75%;
    height: 100%;
}

#story {
    position: relative;
    left: 0;
    top: 10px;
}

#story-text {
    background-color: white;
}

.slider-label {
    position: relative;
    top: 4px;
    left: 4px;
    height: 100%;
}

#header-wrap {
    position: relative;
    text-align: center;
    font-size: 30px;
    top: 20px;
    background-color: white;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px, rgb(51, 51, 51) 0px 0px 0px 3px; /* Gotten from https://getcssscan.com/css-box-shadow-examples */
    z-index: 100;
}

#content {
    position: relative;
    text-align: center;
}

.vis {
    position: relative;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px; /* Gotten from https://getcssscan.com/css-box-shadow-examples */
    background-color: white;
    z-index: 100;
}

.vis-header {
    position: relative;
    background-color: white;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px, rgb(51, 51, 51) 0px 0px 0px 3px; /* Gotten from https://getcssscan.com/css-box-shadow-examples */
}

/* The following section was grabbed and slightly modified from this forum post here: https://myanimelist.net/forum/?topicid=1911984 */
#main-page {
filter: hue-rotate(0deg);

position: relative;
left: 0;
top: 0;
content: '';
width: 85%;
background-image: url(https://i.imgur.com/w6otSXf.png),
url(https://i.imgur.com/Uz2WWFg.png),
url(https://i.imgur.com/D1fpagO.png);
animation: SAKURA 10s linear infinite;
z-index: 9;
}
@keyframes SAKURA {
0% { background-position: 0 0, 0 0, 0 0; }
100% { background-position: 500px 1000px, 400px 400px, 300px 300px; }
}

/* The following CSS was retrieved from https://www.w3schools.com/howto/howto_css_switch.asp for toggle switch styling */
/* The switch - the box around the slider */
.switch {
  position: relative;
  display: inline-block;
  width: 54px;
  height: 28px;
  margin-left: 5px;
}

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 20px;
  width: 20px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #2196F3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}